.container form {
    display: flex;
    gap: 30px;
}

.container input {
    padding: 10px;
    border-radius: 5px;
    border-width: 1px;
}

.container button {
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: var(--color-purple-2);
    color: var(--color-white-1);
    border: none;
    border-radius: 5px;
    transition: opacity 0.2s;
}

.container button:hover {
    opacity: 0.8;
}